.navbar .a4bp_logo {
  padding: 15px 0px 0px 0;
  letter-spacing: -1px;
  float: left;
}

.header-10 .navbar .brand {
  padding-top: 10px;
}

.header-10 .navbar .nav > li > a {
  padding: 10px 0 27px;
}
.navbar .navbar-form .btn {
  padding-top: 10px;
}

.section-a4bp{
  /*
  padding-top: 50px;
  */
}