.navbar .a4bp_logo {
  padding: 15px 0px 0px 0;
  letter-spacing: -1px;
  float: left;
}

.header-10 .navbar .brand {
  padding-top: 10px;
}

.header-10 .navbar .nav > li > a {
  padding: 10px 0 27px;
}
.navbar .navbar-form .btn {
  padding-top: 10px;
}
.header-10 .navbar .btn {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-10 .navbar .navbar-form {
  padding: 1px 0 19px 60px;
}
.section-a4bp{
  /*
  padding-top: 50px;
  */
}
.container {
    padding-top: 100px;
}

#a4bptitle{
  margin-top: auto;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: auto;
}